/* ==================================================
  COLOUR SCHEME JUSTIFICATION
  Colour Family: Blue, Red, and Yellow/Beige.
  Justification: I chose these colours to represent the natural elements 
  of the Treaty 1 land (blue for the Red River and Lake Winnipeg) 
  and the warmth/history of the negotiation (yellow/beige). 
  The dark red in the navigation provides a strong contrast to 
  ensure professional visibility. 
  ==================================================
*/

/* The background of the webpage */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  /* Accessibility: Light theme chosen for readability */
  background: linear-gradient(to bottom, #c3edfa 70%, #2F80ED 100%);
  line-height: 1.6; /* Accessibility: Improved spacing for readability  */
}

header {
  background-color: #f9f2bd;
  color: #121212;
  text-align: center;
  padding: 20px;
  font-family: "Georgia", serif;
}

header h1 {
  font-size: 35px; /* Typography: Clear hierarchy */
}

header h2 {
  font-size: 18px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 10px;
  background: #690b1a; /* Primary color choice */
  text-align: center;
}

nav li {
  display: inline;
  margin: 15px;
}

nav a {
  color: #ededed;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #75cb19; /* Secondary/Accent color */
}

.navbutton {
  border-radius: 8px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  transition: all 0.3s ease;
  border: none;
}

.navbutton:hover {
  background-color: #2980b9;
  transform: translateY(-6px);
}

main {
  padding: 30px;
  /* Accessibility: Centering content for better focus */
  max-width: 1000px;
  margin: 0 auto;
}

main, nav {
  font-family: "Georgia", serif;
  font-size: 18px; /* Typography: Appropriate font size */
}

#hero {
  text-align: center;
  margin-bottom: 50px;
}

.highlight {
  color: #2f6f3e;
  font-weight: bold;
}

.content-box {
  background: rgb(255, 255, 255); /* Neutral colour usage */
  padding: 25px; /* Spacing for readability */
  margin-bottom: 25px;
  border-radius: 8px;
  font-family: "Georgia", serif;
}

/* Hierarchy for sub-headings */
.content-box h2 {
  font-size: 26px;
  color: #121212;
  margin-top: 0;
}

footer {
  background: #f9f2bd;
  color: #121212;
  text-align: center;
  padding: 15px;
  border-radius: 8px;
  margin: 20px;
}